@if (member) {
<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img img-thumbnail">
            <div class="class-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive| timeago}}</p> <!-- added timeago pipe for setting now, 1day ago etc -->
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created | date: 'dd MMM YYYY' }}</p>
                    <!-- added particular date format for created date -->
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Messages</button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interests">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
            </tab>


            <!--             We make use of gallery [items] to show the photos, so [items] is Gallery component and images is array that has photos from memberDetail
 we have added condition that if user selects tab for photos then images should be shown when that tab is active-->

            <tab heading="Photos" #photoTab="tab">
                @if (photoTab.active) {
                <!---add here [itemAutosize] to remove black background and better look-->
                <gallery [items]="images" class="gallery" [itemAutosize]="true">

                </gallery>
                }
            </tab>
            <tab heading=" Messages">
                <p>Messages will go here</p>
            </tab>
        </tabset>
    </div>
</div>
}